@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #09090b;
  /* Zinc 950 */
  --muted: #f4f4f5;
  /* Zinc 100 */
  --muted-foreground: #71717a;
  /* Zinc 500 */
  --border: #e4e4e7;
  /* Zinc 200 */
  --input: #e4e4e7;
  --primary: #18181b;
  /* Zinc 900 */
  --primary-foreground: #fafafa;
  /* Zinc 50 */
  --secondary: #f4f4f5;
  --secondary-foreground: #18181b;
  --accent: #f4f4f5;
  --accent-foreground: #18181b;
  --destructive: #ef4444;
  --destructive-foreground: #fafafa;
  --ring: #18181b;
  --radius: 0.5rem;

  /* Font Families */
  --font-inter: 'Inter', system-ui, sans-serif;
}

@layer base {
  body {
    @apply bg-background text-foreground tracking-tight antialiased;
    -webkit-tap-highlight-color: transparent;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .tap-highlight-none {
    -webkit-tap-highlight-color: transparent;
  }

  .active-scale:active {
    transform: scale(0.96);
    transition: transform 0.1s ease;
  }
}